/** Side bar Nav **/
.sidebar {
    height: 80%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    align-items: center;
}
.sidebar a {
    font-size: 25px;
    transition: 0.3s;
}
  
  
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 100%;
}
  
.openbtn:hover {
    background-color: #444;
}
.Dep{
    color: red;
    background-color: white;
    border: 1px groove red;
    width: 150px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}
.depo{
    display: flex;
    width: 150px;
}
  
#main {
    transition: margin-left .5s;
    padding: 16px;
    background-color: rgb(rgb(37, 40, 245), green, blue);
}